<?php
/**
 * Comments form template
 *
 * @category    design
 * @package     base_default
 * @author      Dmitrijs Kosjaks <info@scandiweb.com>
 * @copyright   Copyright (c) 2015 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 *
 * @var $this Scandi_ProductComments_Block_Form
 */
?>
<?php $helper     = Mage::helper('scandi_productcomments') ?>
<?php $collection = $helper->getCollection() ?>
<?php if (Mage::registry('current_product')->getData('commenting') == '1'): ?>
    <div class="page-title">
        <h1><?php echo $helper->__('Comments') ?></h1>
    </div>
    <?php if (count($collection)): ?>
        <ul>
        <?php foreach ($collection as $comment): ?>
            <li>
                <?php echo $helper->getCommentData($comment) ?>
            </li>
            <br/>
        <?php endforeach ?>
        </ul>
    <?php else: ?>
        <p><?php echo $helper->__('No comments yet.') ?></p>
    <?php endif ?>
    <br/>
    <h1><?php echo $helper->__('Add new comment:') ?></h1>
    <form action="<?php echo $helper->getCommentsFormUrl() ?>" id="commentForm" method="post">
        <div class="fieldset">
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="name" class="required"><em>*</em><?php echo $helper->__('Name') ?></label>
                        <div class="input-box">
                            <input name="name" id="name" title="<?php echo $helper->__('Name') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="required"><em>*</em><?php echo $helper->__('Email') ?></label>
                        <div class="input-box">
                            <input name="email" id="email" title="<?php echo $helper->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="comment" class="required"><em>*</em><?php echo $helper->__('Comment') ?></label>
                    <div class="input-box">
                        <textarea name="text" id="text" title="<?php echo $helper->__('Comment') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <input type="hidden" name="product_id" id="product_id" value="<?php echo Mage::registry('current_product')->getId() ?>"/>
            <button type="submit" title="<?php echo $helper->__('Submit') ?>" class="button"><span><span><?php echo $helper->__('Submit') ?></span></span></button>
        </div>
    </form>
<?php endif ?>
<script type="text/javascript">
    //<![CDATA[
    var contactForm = new VarienForm('commentForm', true);
    //]]>
</script>